.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  padding: 0;
  background-image: url(../../../images/close-icon.svg);
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 618px) {
  .popup__close {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}