:root {
  --doc-height: 100%;
}

.wrapper {
  width: 100%;
  max-width: 880px;
  /* min-height: 100vh; */
  height: 100vh;
  height: var(--doc-height);
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@media (max-width: 618px) {
  .wrapper {
    grid-template-rows: auto auto 1fr auto;
  }
}
